*{
    box-sizing: border-box;
    padding: 0;
    
}

.App{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;   
}

main{
    height: auto;
    width: 100%;
    background-image: url("https://cdn.pixabay.com/index/2023/10/30/03-25-44-707_1920x550.jpg");
}

.Navbar{
    height: auto;
    width: 100%;
    color: white;

}

.navbar{
    justify-content: space-around;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.navlist{
    list-style: none;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

#btn1{
    color: #fff;
    height: 40px;
    width: 100px;
    border-radius: 30px;
    background-color: rgb(71, 186, 209);
    font-size: 17px;
    padding: 10px;
}

#btn2{
    color: #fff;
    height: 40px;
    width: 100px;
    border-radius: 30px;
    background-color: rgb(80, 183, 80);
    font-size: 17px;
    padding: 10px;
}

.navbar a{
    text-decoration: none;
    color: white;
    font-size: 17px;
}

.navbar ruby,rt{
    font-size: 20px;
    margin-left: 40px;
   
}

.secimg{
    height: 500px;
    width: auto;
    justify-content: space-around;
    display: flex;
    align-items: center;
    flex-wrap: wrap;    
}

.secimg img:hover{
    scale: 1.2;

}

.Header{
    height: 300px;
    width: 100%;
    color: white;
}

.Header h1{
    font-size: 40px;
}

.Header input{
    background-color: #fff;
    border-radius: 30px;
    height: 50px;
    width: 60%;
    font-size: 18px;
    text-align: center;
}